.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #f5d5cf;
  }
  .home-container1 {
    width: 100%;
    height: var(--dl-size-size-medium);
    display: flex;
    z-index: 100;
    align-self: stretch;
    box-shadow: 5px 10px 10px 0px #d4d4d4;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(270deg, rgb(192, 36, 37) 0.00%,rgb(128, 54, 164) 100.00%);
  }
  .home-container2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .home-container3 {
    width: 20%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 668px;
    display: flex;
    align-self: flex-start;
    margin-left: 24px;
    flex-direction: column;
    background-color: #a489b8;
  }
  .home-container4 {
    width: 60%;
    height: 669px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f5d5cf;
  }
  .home-container5 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    background-color: #b7b7b7;
  }
  .home-container6 {
    width: 90%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 494px;
    display: flex;
    align-self: stretch;
    margin-top: 5%;
    align-items: stretch;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    background-color: #7a2f61;
  }
  .home-container7 {
    width: 20%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 668px;
    display: flex;
    align-self: flex-start;
    align-items: flex-end;
    margin-right: 24px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e5c4cf;
  }
  @media(max-width: 1200px) {
    .home-container1 {
      box-shadow: 5px 10px 10px 0px rgba(212, 212, 212, 0.24);
    }
    .home-container3 {
      max-height: var(--dl-size-size-maxwidth);
    }
    .home-container4 {
      align-items: stretch;
    }
    .home-container6 {
      width: 90%;
      margin-right: 5%;
    }
    .home-container7 {
      width: 20%;
    }
  }
  @media(max-width: 991px) {
    .home-container2 {
      height: 900px;
      align-items: stretch;
    }
    .home-container3 {
      width: 20%;
      height: 100%;
      margin-left: 0px;
    }
    .home-container4 {
      width: 50%;
      height: 100%;
      align-self: stretch;
      align-items: stretch;
    }
    .home-container6 {
      width: 90%;
      height: 90%;
      margin-bottom: 5%;
    }
    .home-container7 {
      width: 30%;
      height: 100%;
      margin-right: 0px;
    }
  }
  @media(max-width: 767px) {
    .home-container3 {
      width: 130px;
      display: none;
    }
    .home-container4 {
      width: 70%;
      align-items: stretch;
    }
    .home-container6 {
      width: 90%;
      height: 90%;
      align-items: stretch;
    }
    .home-container7 {
      width: 30%;
      height: 100%;
    }
  }
  @media(max-width: 479px) {
    .home-container2 {
      height: 100%;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
    }
    .home-container4 {
      width: 100%;
      height: 647px;
    }
    .home-container6 {
      width: 90%;
      height: 90%;
      margin-right: 5%;
      margin-bottom: 5%;
    }
    .home-container7 {
      width: 100%;
      height: 390px;
      align-self: stretch;
    }
  }
  